<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/default-style.css">
    <link rel="stylesheet" href="/css/resp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    {{> default_header}}

    <div class="developer-main-container">
        <div class="developer-nested">
            <h1>Developers Of Fiesta</h1>
            <img src="/images/developers.jpg" alt="developer">
            <h2>Muhammad Abu Bakar Siddique Durjoy</h2>
            <p>
                Founder of Fiesta | Full Stack Developer (MERN) <br />
            </p>
            <p>
            <h3>Follow Me: </h3>
            <p>Facebook : <a href="https://www.facebook.com/profile.php?id=100026140397005">Dur Joy</a></p>
            <p>Instagram : <a href="/signup">durjoy_907</a></p>
            </p>
        </div>
    </div>
    {{> default_footer}}


    <script>



        document.querySelector('.show-post-options-btn').addEventListener('click', () => {

            if (document.querySelector('.show-post-options').style.display === 'block') {
                document.querySelector('.show-post-options').style.display = 'none';
            } else {
                document.querySelector('.show-post-options').style.display = 'block';
            }
        })
    </script>
</body>

</html>